<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tang.studentmanager.mapper.SysAdminMapper">
  <resultMap id="BaseResultMap" type="com.tang.studentmanager.domain.SysAdmin">
    <!--@mbg.generated generated on Sat Feb 22 09:38:07 CST 2020.-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="make" jdbcType="VARCHAR" property="make" />
    <result column="createTime" jdbcType="DATE" property="createtime" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sat Feb 22 09:38:07 CST 2020.-->
    id, username, `password`, createTime
  </sql>
</mapper>